<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app=angular.module("myApp",[]);
        app.controller("myCtrl",function($scope){
            $scope.firstName="harish";
            $scope.lastname="netam"

        });
    </script>
</head>

<body ng-app="myApp">
    <h1>Angular name program</h1>
    <div ng-controller="myCtrl">
        <input type="text" ng-model="firstName">
        <input type="text" ng-model="lastname">
        <h2>{{firstName+" "+lastname}}</h2>
    </div>
    
</body>
</html>